langgraph
langchain
openai
python-dotenv
pydantic
langgraph-swarm
langchain-openai
langchain-anthropic
langchain-google-genai
langchain-nvidia-ai-endpoints
langchain-community
langchain-core
langgraph-cli
pandas
numpy
requests
asyncio
nest-asyncio
langchain-core
asyncpg
langgraph-checkpoint
langgraph-checkpoint-postgres
langgraph-checkpoint-sqlite
psycopg[binary,pool]
langgraph-checkpoint-mongodb
duckduckgo-search
fastapi 
uvicorn 
httpx